<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superheros Index</title>
</head>
<body>
<h1>Welcome to the Superheros Database!</h1>
<ul>
    {% for superhero in all_superheros %}
    <li><h2> {{superhero.name}}</h2></li>
    <li><h3><button inline="true"><a href="{% url 'Superheros:details' superhero.id %}">Details</a></button></h3></li>
    <li><h3><button inline="true"><a href="{% url 'Superheros:delete' superhero.id %}">Delete Superhero</a></button></h3></li>
    {% endfor %}
</ul>
<button><a href="{% url 'Superheros:create' %}">Create New Superhero</a></button>

</body>
</html>